    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
  <section style="background-color: white; text-align:center; color: red;">
<button mat-button>Webmail</button>
<button mat-button>Login</button>
<button mat-button >Suporte</button>

  </section>
<div class="">
    <img class="logo" src="/assets/logo.png">
</div>
    
<div class="">
    <mat-tab-group mat-align-tabs="center">
      
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">language</mat-icon>
            Web
          </ng-template>
        <div class="servicos">
          <mat-grid-list cols="5" rowHeight="300" gutterSize="3" colspa  >
            <mat-grid-tile class="borderradius">
              <mat-grid-tile-header class="borderradius">Criação de Websites</mat-grid-tile-header>
              <a href="#"><img src="/assets/constru.png" width="200px" height="180px"></a>
            </mat-grid-tile>
            <mat-grid-tile class="borderradius">
              <mat-grid-tile-header>Alojamento de Websites</mat-grid-tile-header>
              <a href="#"><img src="/assets/alojamento.png"  width="200px" height="180px"></a></mat-grid-tile>
            <mat-grid-tile class="borderradius">
              <mat-grid-tile-header >Emails Corporativos</mat-grid-tile-header>
              <a href="#"><img src="/assets/email2.png "  width="200px" height="200px"></a>
            </mat-grid-tile>
            <mat-grid-tile class="borderradius">
              <mat-grid-tile-header>Domínios</mat-grid-tile-header>
              <a href="#"><img src="/assets/dominio.png"  width="200px" height="200px"></a></mat-grid-tile>
            <mat-grid-tile class="borderradius">
              <mat-grid-tile-header>Aplicativos</mat-grid-tile-header>
              <a href="#"><img src="/assets/phone.png "  width="" height="170px"></a>
            </mat-grid-tile>

          </mat-grid-list>
        </div>
          
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">play_circle</mat-icon>
                      AV
          </ng-template>
          <div class="servicos">
            <mat-grid-list cols="5" rowHeight="300" gutterSize="3" colspa  >
              <mat-grid-tile class="borderradius">
                <mat-grid-tile-header class="borderradius">Criação de Websites</mat-grid-tile-header>
                <a href="#"><img src="/assets/constru.png" width="200px" height="180px"></a>
              </mat-grid-tile>
              <mat-grid-tile class="borderradius">
                <mat-grid-tile-header>Alojamento de Websites</mat-grid-tile-header>
                <a href="#"><img src="/assets/alojamento.png"  width="200px" height="180px"></a></mat-grid-tile>
              <mat-grid-tile class="borderradius">
                <mat-grid-tile-header >Emails Corporativos</mat-grid-tile-header>
                <a href="#"><img src="/assets/email2.png "  width="200px" height="200px"></a>
              </mat-grid-tile>
              <mat-grid-tile class="borderradius">
                <mat-grid-tile-header>Domínios</mat-grid-tile-header>
                <a href="#"><img src="/assets/dominio.png"  width="200px" height="200px"></a></mat-grid-tile>
              <mat-grid-tile class="borderradius">
                <mat-grid-tile-header>Aplicativos</mat-grid-tile-header>
                <a href="#"><img src="/assets/phone.png "  width="" height="170px"></a>
              </mat-grid-tile>
  
            </mat-grid-list>
          </div>
        
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">dns</mat-icon>
              Infraestrutura
            </ng-template>
        
            <div class="servicos">
              <mat-grid-list cols="5" rowHeight="300" gutterSize="3" colspa  >
                <mat-grid-tile class="borderradius">
                  <mat-grid-tile-header class="borderradius">Criação de Websites</mat-grid-tile-header>
                  <a href="#"><img src="/assets/constru.png" width="200px" height="180px"></a>
                </mat-grid-tile>
                <mat-grid-tile class="borderradius">
                  <mat-grid-tile-header>Alojamento de Websites</mat-grid-tile-header>
                  <a href="#"><img src="/assets/alojamento.png"  width="200px" height="180px"></a></mat-grid-tile>
                <mat-grid-tile class="borderradius">
                  <mat-grid-tile-header >Emails Corporativos</mat-grid-tile-header>
                  <a href="#"><img src="/assets/email2.png "  width="200px" height="200px"></a>
                </mat-grid-tile>
                <mat-grid-tile class="borderradius">
                  <mat-grid-tile-header>Domínios</mat-grid-tile-header>
                  <a href="#"><img src="/assets/dominio.png"  width="200px" height="200px"></a></mat-grid-tile>
                <mat-grid-tile class="borderradius">
                  <mat-grid-tile-header>Aplicativos</mat-grid-tile-header>
                  <a href="#"><img src="/assets/phone.png "  width="" height="170px"></a>
                </mat-grid-tile>
    
              </mat-grid-list>
            </div>
          </mat-tab>
      </mat-tab-group>
<div class="novotitulo" style="text-align:center"> <h1>Não prestamos serviços apenas. <strong>Resolvemos problemas</strong></h1> </div>
      <div class="row">
      <div class="" style="text-align:center">
        <mat-grid-list cols="2">
              <mat-grid-tile class="novotitulo"><div class="acercadenos"> 
                <img class="rounded" src="/assets/igreja.jpg" width="100%" height="400px">
              </div></mat-grid-tile> 
            <mat-grid-tile>
              <div class="acercadenos" style="text-align:justify">
                <h1>Nossa <strong>História</strong></h1>
                <h2>Aliqua non laboris est ad eu pariatur amet non nisi. Mollit proident anim ex dolor id irure consectetur. Esse et aliquip non adipisicing est amet irure sunt sint ipsum. Ipsum labore magna exercitation nulla nostrud esse.
        Aute aliquip anim quis ut sunt esse. Est aliquip veniam exercitation et esse. Sint veniam mollit nulla ex duis dolore mollit enim voluptate esse ut. Dolor et tempor adipisicing quis est est anim sit laborum commodo tempor minim magna.</h2>
                      </div> </mat-grid-tile>
        </mat-grid-list>

</div>
    </div>
</div>
<section class="calltoaction">
<div class="row">
  <mat-grid-list cols="2" rowHeight="fit" [style.height]="'150px'" [gutterSize]="'1px'">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h1 style="color: red; text-align: right; margin-left: 10%;">Comece agora o seu projecto</h1></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="">
        <button mat-raised-button color="primary"><h1 style="color: white; margin: 20px;">Contacte-nos</h1></button>
      </div></mat-grid-tile>
  </mat-grid-list>
</div>
</section>

<div class="row"> 
<div class="clientes">
<h1 style="text-align: center">Nossos <strong>clientes</strong></h1>
  <mat-grid-list cols="5" rowHeight="" gutterSize="4px" >
    <mat-grid-tile>
  
      <img src="/assets/clientes/1601589807.png " class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      
      <img src="/assets/clientes/1601590334.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/clientes/1601590418.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/clientes/1601590688.png " class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/clientes/1601590978.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="5" rowHeight="" gutterSize="4px" >
    <mat-grid-tile>
  
      <img src="/assets/clientes/1601591189.png " class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      
      <img src="/assets/clientes/1601591345.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/clientes/1601592706.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/150.png " class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="/assets/150.png" class="logoclientes" width="180px" height="150px">
    </mat-grid-tile>

  </mat-grid-list>

</div>
</div>


<footer>
  <div class="textodorodape"> 
   <p>&copy; Fluxodigital. 2022.</p>
  </div>
</footer>
</body>
